@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background-color: #000000;
  font-family: "Noto Sans", sans-serif;
}

.presentacion {
  width: 100%;
  background-image: url(../assets/bg-netflix.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  margin-top: 0px;
}
.presentacion .presentacion-container {
  background-color: rgba(0, 0, 0, 0.5607843137);
  padding: 0px 20px 100px 50px;
  color: antiquewhite;
}
.presentacion .presentacion-container h1 {
  font-size: 4rem;
  width: 600px;
  margin: 50px 0px 25px 0px;
}
.presentacion .presentacion-container h2 {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: left;
  margin: 20px 0px 30px 0px;
}
.presentacion .presentacion-container .presentacion-login {
  padding: 16px 38px;
  background-color: red;
  border: none;
  border-radius: 25px;
  color: antiquewhite;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
}

.login-1 {
  height: 450px;
}
.login-1 h2 {
  color: antiquewhite;
  text-align: center;
  font-size: 2rem;
  margin: 50px;
}
.login-1 .users {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.login-1 .users .user {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.login-1 .users .user img {
  width: 220px;
  height: 220px;
  object-fit: cover;
}
.login-1 .users .user p {
  color: antiquewhite;
  margin: 0;
  text-align: center;
}
.login-1 .users .user .inputName {
  height: 25px;
  border: none;
  border-radius: 5px 0px 0px 5px;
}
.login-1 .users .user .inputName::placeholder {
  color: rgb(43, 43, 43);
  padding-left: 5px;
}
.login-1 .users .user .btnSubmit {
  height: 27px;
  width: 43px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  color: antiquewhite;
  background-color: red;
  font-weight: bold;
}

.presentation .swiper-button-prev, .presentation .swiper-button-next {
  color: white;
}
.presentation .principal-1, .presentation .principal-4, .presentation .principal-3, .presentation .principal-2 {
  display: flex;
  justify-content: space-between;
  background-image: url(../assets/bg-thegardener.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 580px;
}
.presentation .principal-1 .text, .presentation .principal-4 .text, .presentation .principal-3 .text, .presentation .principal-2 .text {
  color: antiquewhite;
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 30px;
}
.presentation .principal-1 .text .titulo, .presentation .principal-4 .text .titulo, .presentation .principal-3 .text .titulo, .presentation .principal-2 .text .titulo {
  height: 95px;
  object-fit: contain;
}
.presentation .principal-1 .text .leyenda, .presentation .principal-4 .text .leyenda, .presentation .principal-3 .text .leyenda, .presentation .principal-2 .text .leyenda {
  height: 24px;
  margin: 15px 10px;
}
.presentation .principal-2 {
  background-image: url(../assets/bg-outerbanks.webp);
}
.presentation .principal-2 .text .titulo {
  height: 40px;
}
.presentation .principal-3 {
  background-image: url(../assets/bg-hungergames.webp);
}
.presentation .principal-3 .text .titulo {
  height: 65px;
}
.presentation .principal-4 {
  background-image: url(../assets/bg-spiderman.webp);
}
.presentation .principal-4 .text .titulo {
  height: 100px;
}

.movies .swiper-button-prev, .movies .swiper-button-next {
  color: white;
}
.movies .sectMovies {
  margin: 30px;
}
.movies .sectMovies h2 {
  color: antiquewhite;
  font-size: 1.32rem;
}
.movies .sectMovies .eachMovie img {
  width: 220px;
  height: 320px;
  object-fit: cover;
}
.movies .sectMovies .eachMovie .watch {
  width: 185px;
  height: 30px;
  margin: 7px 0px;
  border-radius: 5px;
  border: 0;
}
.movies .sectMovies .eachMovie .favorites {
  width: 30px;
  margin: 0;
  height: 30px;
  text-align: center;
  background-color: red;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 1.1rem;
}

.presentacion-header {
  background-color: #000000;
  width: 100%;
}
.presentacion-header .navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
  margin-left: 20px;
}
.presentacion-header .navbar .logo-netflix {
  height: 65px;
  width: auto;
  object-fit: cover;
}
.presentacion-header .navbar .login {
  border-radius: 15px;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
}

.login-header {
  background-color: #000000;
  width: 100%;
}
.login-header .navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
  margin-left: 20px;
}
.login-header .navbar .logo-netflix {
  height: 65px;
  width: auto;
  object-fit: cover;
}
.login-header .navbar .return-prest {
  border-radius: 15px;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
}

.index-header {
  background-color: #000000;
  width: 100%;
  top: 0;
}
.index-header .navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
  margin-left: 20px;
}
.index-header .navbar .logo-netflix {
  height: 65px;
  width: auto;
  object-fit: cover;
}
.index-header .navbar div .search-bar {
  width: 700px;
  height: 35px;
  border-radius: 15px;
  border: 1px solid #2c2c2c;
  background-color: #000000;
  color: antiquewhite;
}
.index-header .navbar div button {
  background-color: transparent;
  border: 0;
  position: relative;
  right: 3rem;
  top: 0.5rem;
}
.index-header .navbar div button .material-icons {
  color: white;
}
.index-header .navbar div a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
}
.index-header .navbar .profile {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
  align-items: center;
}
.index-header .navbar .profile img {
  width: 40px;
  height: 40px;
}
.index-header .navbar .profile p {
  color: antiquewhite;
}

.results {
  display: none;
  gap: 30px;
  width: 100%;
  height: 400px;
}
.results .noResults {
  font-size: 1.2rem;
  color: white;
  justify-self: center;
  align-self: center;
}
.results .movieFound img {
  width: 220px;
  height: 320px;
  object-fit: cover;
}
.results .movieFound .watch {
  width: 100%;
  height: 30px;
  margin: 7px 0px;
  border-radius: 5px;
  border: 0;
}

.modalPreview {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modalPreview .preview {
  margin: 4% auto;
  display: flex;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 70%;
}
.modalPreview .preview .text {
  color: antiquewhite;
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 30px;
}
.modalPreview .preview .text .titulo {
  height: 35px;
  object-fit: contain;
}
.modalPreview .preview .text .leyenda {
  height: 24px;
  margin: 15px 10px;
}
.modalPreview .preview .text div .watchMovie {
  background-color: red;
  color: white;
  padding: 8px 40px;
  border-radius: 10px;
  border: 0;
  font-size: 1rem;
}
.modalPreview .preview .text div .favPreview {
  background-color: black;
  color: white;
  border: 0;
  font-size: 1.3rem;
  padding: 6px 15px;
  border-radius: 8px;
}
.modalPreview .close {
  color: white;
  height: 40px;
  font-size: 28px;
  font-weight: bold;
  float: right;
  cursor: pointer;
  position: relative;
  top: 4.5rem;
  right: 14rem;
}
.modalPreview .close:hover {
  color: rgb(112, 112, 112);
  text-decoration: none;
  cursor: pointer;
}

.modalVisualizer {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modalVisualizer .video {
  width: 900px;
  height: 550px;
  background-color: black;
  margin: 4% auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalVisualizer .close {
  color: white;
  height: 40px;
  font-size: 28px;
  font-weight: bold;
  float: right;
  cursor: pointer;
  position: relative;
  top: 3.6rem;
  right: 14.5rem;
}
.modalVisualizer .close:hover {
  color: rgb(112, 112, 112);
  text-decoration: none;
  cursor: pointer;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 600px;
  height: 200px;
}
footer img {
  height: 170px;
}
footer div {
  color: white;
  font-weight: 200;
  font-size: 0.9rem;
}
footer div a {
  color: white;
}

/*# sourceMappingURL=style.css.map */
