.presentacion{
    width: 100%;
    background-image: url(../assets/bg-netflix.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin-top: 0px;
    .presentacion-container{
        background-color: #0000008f;
        padding: 0px 20px 100px 50px;
        color: antiquewhite;
        h1{
            font-size: 4rem;
            width: 600px;
            margin: 50px 0px 25px 0px;
        }
        h2{
            font-size: 1.5rem;
            font-weight: 300;
            text-align: left;
            margin: 20px 0px 30px 0px;
        }
        .presentacion-login{
            padding: 16px 38px;
            background-color: red;
            border: none;
            border-radius: 25px;
            color: antiquewhite;
            font-family: "Noto Sans", sans-serif;
            font-size: 1rem;
        }
    }
}
