.presentation{
    .swiper-button-prev, .swiper-button-next{
        color: white;
    }
    .principal-1{
        display: flex;
        justify-content: space-between;
        background-image: url(../assets/bg-thegardener.webp);
        background-repeat: no-repeat;
        background-size: cover;
        height: 580px;
        .text{
            color: antiquewhite;
            width: 750px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            padding: 30px;
            .titulo{
                height: 95px;
                object-fit: contain;
            }
            .leyenda{
                height: 24px;
                margin: 15px 10px;
            }
        }
    }
    .principal-2{
        @extend .principal-1;
        background-image: url(../assets/bg-outerbanks.webp);
        .text{
            .titulo{
                height: 40px;
            }
        }
    }
    .principal-3{
        @extend .principal-1;
        background-image: url(../assets/bg-hungergames.webp);
        .text{
            .titulo{
                height: 65px;
            }
        }
    }
    .principal-4{
        @extend .principal-1;
        background-image: url(../assets/bg-spiderman.webp);
        .text{
            .titulo{
                height: 100px;
            }
        }
    }
}
.movies{
    .swiper-button-prev, .swiper-button-next{
        color: white;
    }
    .sectMovies{
        margin: 30px;
        h2{
            color: antiquewhite;
            font-size: 1.32rem;
        }
        .eachMovie{
            img{
                width: 220px;
                height: 320px;
                object-fit: cover;
            }
            .watch{
                width: 185px;
                height: 30px;
                margin: 7px 0px;
                border-radius: 5px;
                border: 0;
            }
            .favorites{
                width: 30px;
                margin: 0;
                height: 30px;
                text-align: center;
                background-color: red;
                border: 0;
                border-radius: 5px;
                color: white;
                font-size: 1.1rem;
            }
        }
    }
}